 body {background-image: url(/images/background.gif)
}


h1 {color:cornsilk;
    margin-right: 100;
    font-family: 'Roboto', sans-serif;
    font-feature-settings: bold;
    
}
p {color:cornsilk;
    margin-right: 100;
    font-family: 'Roboto Thin', sans-serif;
    font-weight: 100;
    padding: 15px 15px 15px 15 
}

P1 {font-size:25;
    margin:10;
    color:aqua
}

href {color:aqua;
}

ul {color:cornsilk;
    font-family: 'Roboto Thin', sans-serif;
    font-weight: 100;
}

li {color:cornsilk;
    font-family: 'Roboto Thin', sans-serif;
}

img {padding: 25px 15px 25px 15px}
